@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.count {
  text-align: center;
  font-size: 80px;
}

textarea {
  display: flex;
  resize: none;
  margin: auto;
  justify-items: center;
  padding: 15px;
  height: 400px;
  width: 60%;
  outline: none;
  border: 1px solid #cdccd0;
  border-radius: 3px;
}
